# Automatically created by: scrapy startproject
#
# For more information about the [deploy] section see:
# https://scrapyd.readthedocs.io/en/latest/deploy.html

[settings]
default = mercado_livre.settings

[scrapyd]
application = herokuify_scrapyd.app.application

[deploy]
url = https://mercado-livre-crawler.herokuapp.com/
project = mercado_livre
